.git
.github
.idea
.vscode
.cache
.serena
vendor

.env
docker-compose.yml
composer.lock

.php-cs-fixer.cache
.phpcs-cache
.phpunit.cache
.phpunit.result.cache

.php-cs-fixer.php
composer-unused.php
phpcs.xml
phpmd.ruleset.xml
phpstan.neon
rector.php
