/vendor
.env
.phpunit.result.cache
.php-cs-fixer.cache
.phpcs-cache
.idea
/.vscode
/.phpstorm.meta.php
/_ide_helper.php
.DS_Store
docker-compose.yml

# Cache directory
/.cache/
/.phpunit.cache/

# Generated linter configs (created by ./bin/linters generate)
/rector.php
/.php-cs-fixer.php
/composer-unused.php
/phpstan.neon
/phpcs.xml
/phpmd.ruleset.xml