parameters:
	ignoreErrors:
		-
			message: '#^Access to constant LARAVEL_110 on an unknown class RectorLaravel\\Set\\LaravelSetList\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rector/Configs/Sets/laravel11.php

		-
			message: '#^Access to constant LARAVEL_ARRAY_STR_FUNCTION_TO_STATIC_CALL on an unknown class RectorLaravel\\Set\\LaravelSetList\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rector/Configs/Sets/laravel11.php

		-
			message: '#^Access to constant LARAVEL_CODE_QUALITY on an unknown class RectorLaravel\\Set\\LaravelSetList\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rector/Configs/Sets/laravel11.php

		-
			message: '#^Access to constant LARAVEL_120 on an unknown class RectorLaravel\\Set\\LaravelSetList\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rector/Configs/Sets/laravel12.php

		-
			message: '#^Access to constant LARAVEL_ARRAY_STR_FUNCTION_TO_STATIC_CALL on an unknown class RectorLaravel\\Set\\LaravelSetList\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rector/Configs/Sets/laravel12.php

		-
			message: '#^Access to constant LARAVEL_CODE_QUALITY on an unknown class RectorLaravel\\Set\\LaravelSetList\.$#'
			identifier: class.notFound
			count: 1
			path: src/Rector/Configs/Sets/laravel12.php

		-
			message: '#^PHPDoc tag @implements contains generic type Rector\\VersionBonding\\Contract\\MinPhpVersionInterface\<PhpParser\\Node\> but interface Rector\\VersionBonding\\Contract\\MinPhpVersionInterface is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/Rector/Rules/AssertInstanceToStaticCallRector.php

		-
			message: '#^Parameter \#1 \$node \(PhpParser\\Node\\Expr\\MethodCall\) of method Linters\\Rector\\Rules\\AssertInstanceToStaticCallRector\:\:refactor\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)$#'
			identifier: method.childParameterType
			count: 2
			path: src/Rector/Rules/AssertInstanceToStaticCallRector.php

		-
			message: '#^Parameter \#2 \$name of class PhpParser\\Node\\Expr\\StaticCall constructor expects PhpParser\\Node\\Expr\|PhpParser\\Node\\Identifier\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rector/Rules/AssertInstanceToStaticCallRector.php

		-
			message: '#^PHPDoc tag @implements contains generic type Rector\\VersionBonding\\Contract\\MinPhpVersionInterface\<PhpParser\\Node\> but interface Rector\\VersionBonding\\Contract\\MinPhpVersionInterface is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/Rector/Rules/MockObjectStaticToInstanceCallRector.php

		-
			message: '#^Parameter \#1 \$node \(PhpParser\\Node\\Expr\\StaticCall\) of method Linters\\Rector\\Rules\\MockObjectStaticToInstanceCallRector\:\:refactor\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)$#'
			identifier: method.childParameterType
			count: 2
			path: src/Rector/Rules/MockObjectStaticToInstanceCallRector.php

		-
			message: '#^Function passthru is unsafe to use\. It can return FALSE instead of throwing an exception\. Please add ''use function Safe\\passthru;'' at the beginning of the file to use the variant provided by the ''thecodingmachine/safe'' library\.$#'
			identifier: theCodingMachineSafe.function
			count: 1
			path: src/Service/ToolRunner.php
